.cart {
    padding-top: 96px;
    padding-bottom: 128px;

    &-body {
        display: flex;
        gap: 128px;

        &-controls {
            margin-top: 72px;
            width: 652px;
            display: flex;
            justify-content: space-between;

            & button {
                height: 50px;
                width: 235px;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                border: 1px solid #A4A4A4;
                transition: $trans;

                &:hover {
                    background-color: #A4A4A4;
                    color: #EAEAEA;
                }
            }
        }

        &-products {
            display: flex;
            flex-direction: column;
            gap: 40px;

            &-item {
                display: flex;
                height: 306px;
                width: 652px;
                position: relative;
                box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
                transition: $trans;

                &:hover {
                    transform: translateX(3px);
                }

                & img {
                    height: 100%;
                }
            }

            &-text {
                width: 240px;
                padding-top: 22px;
                padding-left: 31px;
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                color: #575757;
            }

            &-heading {
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: #222222;
                margin-bottom: 42px;
            }

            &-container {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }

        &-right {
            display: flex;
            flex-direction: column;
            gap: 40px;
            box-sizing: border-box;
        }
        
        &-form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: 306px;

            & fieldset {
                border: none;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #222222;
            }

            & input {
                padding: 13px 17px;
                border: 1px solid #EAEAEA;
                transition: $trans;

                &::-webkit-outer-spin-button {
                    display: none;
                }
                &::-webkit-inner-spin-button {
                    display: none;
                }

                &:hover {
                    background-color: #EAEAEA;
                }
            }

            & button {
                font-weight: 300;
                font-size: 11px;
                line-height: 13px;
                color: #4A4A4A;
                width: 101px;
                height: 35px;
                border: 1px solid #EAEAEA;
                cursor: pointer;
                transition: $trans;

                &:hover {
                    background-color: #EAEAEA;
                }
            }

            &-bottom {
                width: 360px;
                height: 214px;
                padding: 42px;
                background-color: #F5F3F3;
                text-align: right;

                & .text {

                    &-small {
                        font-size: 11px;
                        line-height: 13px;
                        color: #4A4A4A;
                        margin-bottom: 12px;
                    }
                   
                    &-large {
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 19px;
                        color: #222222;
                        padding-bottom: 21px;
                        margin-bottom: 17px;
                        display: inline-block;
                        width: 100%;
                        border-bottom: 1px solid #E2E2E2;
                    }
                }
            }
        }
    }

    &-input {
        width: 44px;
        border-radius: 0;
        border: 1px solid #EAEAEA;
        text-align: center;
        box-sizing: border-box;
        font-size: 18px;
        line-height: 22px;
        color: #656565;

        &::-webkit-outer-spin-button {
            display: none;
        }
        &::-webkit-inner-spin-button {
            display: none;
        }
    }
}

.pink-button {
    box-sizing: border-box;
    padding: 16px 38px;
    background-color: $color-pink;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;  
    transition: $trans;

    &:hover {
        color: $color-pink;
        background-color: #fff;
    }
}

