.categories {
    margin-top: 65px;

    &-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }

    &-container {
        background-color: #EBE6E4;
        width: 360px;
        height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-heading {
        z-index: 3;
        color: #FFFFFF;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }
}

.first {
    position: relative;
    background: center url(../img/category-woman-c.jpg);
    background-size: cover;
    transition: $trans;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.7);
        z-index: 1;
    }

    &:hover {
        transform: scale(1.01);
    }
}

.second {
    position: relative;
    background-image: url(../img/category-man-c.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: $trans;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.7);
        z-index: 1;
    }

    &:hover {
        transform: scale(1.01);
    }

    
}

.third {
    position: relative;
    background-image: url(../img/category-kid.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: $trans;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.7);
        z-index: 1;
    }

    &:hover {
        transform: scale(1.01);
    }
}

.fourth {
    position: relative;
    background-image: url(../img/category-acc-c.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    transition: $trans;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.7);
        z-index: 1;
    }

    &:hover {
        transform: scale(1.01);
    }
}

.categories-pink {
    font-size: 24px;
    color:$color-pink;
    line-height: 29px;
    transition: color 0.5s ease;

    &:hover {
        display: block;
        color: #fff;
        transform: $scale;
    }
}