.promo {
    background-color: #F1E4E6;
    box-shadow: 0px 4px 8px #c4c4c4;
}

.promo-bg {
    background-image: url(../img/promo-man-dt.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 764px;
    padding-top: 290px;
    padding-left: 635px;
}

.promo-heading {
    padding-left: 16px;
    font-size: 32px;
    color: #222222;
    border-left: 12px solid $color-pink;
    line-height: 38.4px;
}

.promo-heading-bold {
    font-weight: 900;
    font-size: 48px;
    line-height: 57.6px;
}

.promo-pink {
    color: $color-pink;
}
